body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #111;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#startMenu {
    text-align: center;
}

input, button {
    margin: 10px;
    padding: 10px;
    font-size: 16px;
}

canvas {
    border: 2px solid #fff;
    background: #333;
}
